.itp-subscribe{
  width: 100%;
  margin-top: 50px;
}

#itps-text {
    margin-top: 10px;
    margin-left: 40px;
    font-size: medium;
    font-weight: bold;
}

#itps-text p {
    float:left;
    margin-top: 3px;
    margin-right: 5px;
}

#itps-text p a {
    color:black;
    font-weight: bolder;
    text-decoration: underline;
}

#itps-text form {
    float: left;
    margin-right: 10px;
}

#itps-em{
  width: 150px;
  border: thin solid #000000;
}
